<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="index.html">
            <img src="assets/logos/logo-light-mode.png" width="180" class="inline-block dark:hidden" alt="">
            <img src="assets/logos/logo-dark-mode.png" width="180" class="hidden dark:inline-block" alt="">
        </a>

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
            <li class="inline mb-0">
                <a href="" class="btn btn-icon rounded-full bg-green-600/5 hover:bg-green-600 border-green-600/10 hover:border-green-600 text-green-600 hover:text-white"><i data-feather="dollar-sign" class="h-4 w-4"></i></a>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
                <li><a href="about.html" class="sub-menu-item">About</a></li>
                <li><a href="team.html" class="sub-menu-item">Team</a></li>
                <!-- <li><a href="index.html" class="sub-menu-item">FAQs</a></li> -->
                

                <li class="has-submenu parent-menu-item">
                    <a href="javascript:void(0)">Projects</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="documentation.html" class="sub-menu-item">Electric Bike</a></li>
                        <li><a href="changelog.html" class="sub-menu-item">Electric Skateboard</a></li>
                        <li><a href="widget.html" class="sub-menu-item">Onewheel</a></li>
                    </ul>
                </li>
                
                <li><a href="contact.html" class="sub-menu-item">Contact</a></li>
                
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</nav><!--end header-->
<!-- End Navbar -->