<meta charset="UTF-8" />
<title>@@title - Electrium Mobility</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="theme-color" content="#40B549" />
<meta name="og:image" content="/assets/logos/favicon.png" />
<meta name="description" content="Electrium Mobility is a design team in the Sedra Student Design Center in the University of Waterloo. Our goal is to create personal electric vehicles!" />
<meta name="keywords" content="evehicle, sustainability, waterloo, design team, bike, scooter, skateboard, electric"/>
<meta name="author" content="Shreethemes" />
<meta name="version" content="1.7.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- favicon -->
<link rel="shortcut icon" href="assets/logos/favicon.png" sizes="32x32" />